/* --------------------------------------------- 
    Program     : style.css
    author      : GRS
    Date        : Initial: 2025-06-25 00:51:27 IST
    Purpose     : WebDevtools - main entry css page
                  All Aids and tools for creating fullstack or any applications
                  Tools for Developers
   
    To Do        : - Make column flex whole body (header-body-footer) so when
                   shrunk it wont ovrelap. probably put overflow: hide??"
                   - Test Height of Main as "max-height" instead of "height"
                   see if the height stays for that div?? it wont??
                     - it is not working? Div max-height should work right??
                   - Set footer as max-height than height and check if overflow
                   happens??  
                   
                   - 100vh is causing issue as height is set hard
                   - Find what is the apple transparency menu bar
                   - / * Testing if links under nav section only behaves like that?? 
                   - To do menu floating and major issue will be done
    Question      : - why flex column, with overflow-hidden is making no scroll??

    Understanding : - All the issue happens due to the 100vh usage. the next element 
                      starts right after. This overlaps when the window height is so small 
------------------------------------------------- */

/* ------------------------------------------------------------ */
/* Clear all the preformat of the browsers */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/* All the variables of the project */
:root {
  /* Colors */
  --color-base-white: white;
  --color-base-lightgray: lightgray;
  --color-base-blue: blue;
  --apl-base-text-color-black: #1d1d1f;
  --apl-base-text-color-white: #f5f5f7;
  --apl-base-page-background-color: #f5f5f7;

  --background-color-translucent-menubar: rgba(255, 255, 255, 0.8);
  --background-color-translucent-menubar: rgba(255, 255, 255, 0.6);

  /* Font Size */
  --font-size-h2: 5.6rem; /*Apple*/
  --font-size-subheading-h2: 2.8rem; /*Apple*/
  --font-size-h3: 4rem; /*Apple*/
  --font-size-subheading-h3: 2.1rem; /*Apple*/
  --font-size-p: 1.4rem; /*Apple - gUserFix*/

  /* Apple and microsoft has the menu very small not to attract 
  attention to it than the products itself */
  /* Font 12px makes the menu look smaller and the content bigger
    Takes the focus out of the menu section. both microsoft and apple
    uses font 12px for the menu font. it looks great as well */
  --font-size-nav-menu: 1.6rem; /*Apple - gUserFix*/
  --font-size-nav-menu: 1.4rem; /*Apple - gUserFix*/
  --font-size-nav-menu: 1.3rem; /*Apple - gUserFix*/
  --font-size-nav-menu: 1.2rem; /*Apple - gUserFix*/

  /* Footer font size */
  --font-size-footer: 1.2rem;

  /* Font  Weight */
  --inter-font-weight: 400;
  --font-weight-h1: 600;
  --font-weight-h2: 600; /*Apple*/
  --font-weight-subheading-h2: 400; /*Apple*/
  --font-weight-h3: 600; /*Apple*/
  --font-weight-subheading-h3: 400; /*Apple*/
  --font-weight-p: 370; /*Apple - gUserFix*/
  --font-weight-nav-menu: 370; /*Apple - gUserFix*/
  /* --font-weight-nav-menu: 355;          Apple - gUserFix */

  /* Font Letter Spacing */
  --letter-spacing-h2: -0.28px; /*Apple*/
  --letter-spacing-subheading-h2: -0.196px; /*Apple*/
  --letter-spacing-subheading-h3: -0.22px; /*Apple*/
  --letter-spacing-nav-menu: -0.196px; /*gMade*/

  /* Font Height */
  --line-height-h2: 6rem; /*Apple*/
  --line-height-subheading-h2: 3.2rem; /*Apple*/
  --line-height-h3: 4.4rem; /*Apple*/

  /*Font Familly */
  --body-font-family-sans-serif: "Inter", "Open Sans", "Roboto", sans-serif;

  /* Other Sizes */
  --gap-nav-menu: 3rem;
  --text-deco-thickness-menu: 0.3rem;

  /* Margins */
  --margin-nav-menu: 0 8rem;

  /* Paddings */
  --padding-tb-nav-menu: 1rem 0px;
  --padding-footer-section: 2rem;

  /* Heights */
  --logo-image-menu-height: 2rem;
  --height-footer-section: 10rem;

  /* Positions */
  --position-menu-top: 0px;
  --position-menu-left: 0px;
  --position-menu-right: 0px;

  /* Effects */
  --backdrop-filter-saturate-blur-menubar: saturate(1.8) blur(20px);
  --backdrop-filter-saturate-blur-menubar: saturate(1.8) blur(10px);

  /* Temp values */
  --temp-height-body: 100rem;
  --temp-height-footer: 20rem;
}

/* ------------------------------------------------------------ */

/* ------------------------------------------------------------ */
/* Goolge Fonts - "Inter" Font */
.inter-google-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--inter-font-weight);
  font-style: normal;
}
/* ------------------------------------------------------------ */

/* ------------------------------------------------------------ */
/* ---- Global Settings ---- */
/* Set the page having flexible and spaces on sides for all width sizes */
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0px auto;
}

/* ---- HTML set Global font size REM as 10px / 62.5% of 16px(default)  ---- */
html {
  font-size: 62.5%;

  /* Temporary centering of texts */
  text-align: center;
}

/* ------------------------------------------------------------ */
/* ---- Semantic Elements Styles ---- */

/* ------------------------------------------------------------ */
/* ---- Core Elements Styles ---- */
body {
  color: var(--apl-base-text-color-black);
  /* background-color: var(--apl-base-page-background-color); */
  font-family: var(--body-font-family-sans-serif);
}

/* ------------------------------------------------------------ */
/* ---- Text Properies ---- */
h1 {
  font-size: 4rem;
  font-weight: var(--font-weight-h1);
  letter-spacing: var(--letter-spacing-h2);
}

/* Main header in sections */
h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  line-height: var(--line-height-h2);
  letter-spacing: var(--letter-spacing-h2);
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
  letter-spacing: var(--letter-spacing-h2);
}
p {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-p);
  /* letter-spacing: var(--letter-spacing-h2); */
}

a {
  text-decoration: none;
}

ul{
  list-style-type:none;
  font-size: var(--font-size-p);
}

a:hover, a:active{
  color:darkblue;
  border:solid 0.5 var(--apl-base-text-color-black);
}
a:link, a:visited{
  color:var(--color-base-blue)
}
/* ------------------------------------------------------------ */
/* ---- Text Properies - Classes ---- */

.subheading-h2 {
  font-size: var(--font-size-subheading-h2);
  font-weight: var(--font-weight-subheading-h2);
  letter-spacing: var(--letter-spacing-subheading-h2);
}
.subheading-h3 {
  font-size: var(--font-size-subheading-h3);
  font-weight: var(--font-weight-subheading-h3);
  letter-spacing: var(--letter-spacing-subheading-h3);
}

/* ------------------------------------------------------------ */
/* ---- Classes ---- */

.nav-menu-font {
  font-size: var(--font-size-nav-menu);
  font-weight: var(--font-weight-nav-menu);
  letter-spacing: var(--letter-spacing-nav-menu);

  /* letter-spacing: var(--letter-spacing-h2); */
}

.nav-menu-bar {
  /* Temp disable and enable again after blur check */
  /* background-color: var(--color-base-white); */

  /* Not used below */
  /* background-color: lightblue; */
  /* border: solid 0.5px var(--color-base-lightgray); */

  /* Make the menu fixed on top */
  position: sticky;
  top: var(--position-menu-top);
  right: var(--position-menu-right);
  left: var(--position-menu-left);
  z-index: 999;

  /* Make the below background blur and translucent */
  background: var(--background-color-translucent-menubar);
  /* background: rgba(255,255,255, 0.5); */
  backdrop-filter: var(--backdrop-filter-saturate-blur-menubar);
}

.nav-menu-lists {
  display: flex;
  justify-content: space-between;
}
.logo-menu {
  height: var(--logo-image-menu-height);
}

.menu-list {
  list-style-type: none;
  display: flex;
  gap: var(--gap-nav-menu);
  /* margin: var(--margin-nav-menu); */
  padding: var(--padding-tb-nav-menu);
}

.hero-section {
  /* Temp Remove the hardcoding later */
  height: var(--temp-height-body);
}

/* ------------------------------------------------------------ */
/* ---- Footer Classes ---- */

.footer-section {
  /* padding: var(--padding-footer-section) 0px; */
  /* background-color: var(--color-base-lightgray); */

  /* Temp remove the hardcoding */
  /* height: var(--height-footer-section); */
  height: var(--temp-height-footer);
}

.footer-bar {
  border-top: solid 0.5px var(--color-base-lightgray);
}
.footer-text {
  font-size: var(--font-size-footer);
  text-align: center;
  padding: var(--padding-footer-section);
}

/* ------------------------------------------------------------ */
/* ---- Pseudo Classes ---- */

/* This is general link. Probably change for 
        each button or other anchor elements */
/* Testing if links under nav section only behaves like that??   
   Notice the space inbetween nav and a , not comma*/
nav a:link,
nav a:visited {
  color: var(--apl-base-text-color-black);
}

nav a:active,
nav a:hover {
  /* color: var(--color-base-lightgray); */
  /* text-decoration: underline var(--apl-base-text-color-black) 3px; */
  text-decoration: overline var(--apl-base-text-color-black)
    var(--text-deco-thickness-menu);

  /* Test if this is working */
  /* text-decoration: overline var(--color-base-blue) var(--text-deco-thickness-menu); */
  /* text-decoration: underline overline var(--apl-base-text-color-black) 3px; */
  /* text-decoration: overline red var(--text-deco-thickness-menu); */
}
