* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html{

  font-size:62.5%;
}

body {
  /* background-color: lightslategray; */
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: "Noto Sans", "Adwaita Sans", "Cantarell", "Noto Sans", "Roboto",
    Arial, "Open Sans", sans-serif;
  /* letter-spacing: -0.25px; */
}

.page-container{
    max-width: 1200px;
    width:90%;
    margin:0 auto;
}

.Card-container {
  /* BACKGROUND-color: lightgrey; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 2.5rem auto;
  gap: 2rem;
  /* height: 100%; */
  /* height:600px; */
  /* width:100% */
}

.review-card {
  background-color: #f8f8f2;
  /* margin: 10px  10px; */
  padding: 3rem  3rem;
  /* box-shadow: 1px 1px lightgray; */
  /* box-shadow: 2px 2px lightgray; */
  /* box-shadow: 3px 3px lightgray; */

  border-radius: 7px;
  border: solid 1px rgb(226, 220, 220);
  transition: border-color 2s;
}

.review-card:hover {
  border-color: blue;
  /* border-color: green; */
}

.review-heading {
  font-size: 2.5rem ;
  margin-bottom: 2rem;
  /* font-weight: 400; */
}

.review-content {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  /* font-weight: 400; */
}
.review-author {
  font-size: 1.6rem;
  font-weight: 700;
}

.card1 {
  /* font-family: "Adwaita Sans", "Cantarell", "Noto Sans", "Roboto", Arial,
    "Noto Sans", "Open Sans", sans-serif; */
}
.card2 {
  /* font-family: "Cantarell", "Adwaita Sans", "Noto Sans", "Roboto", Arial,
    "Noto Sans", "Open Sans", sans-serif; */
}
.card3 {
  /* font-family: "Noto Sans", "Cantarell", "Adwaita Sans", "Roboto", Arial,
    "Open Sans", sans-serif; */
}
.card4 {
  /* font-family: serif; */
}


/* Media Using Relative Units */
/* Less of a code if so much hardcoding needed */
/* But not that appealing to just reduce everything , hardcoding is nice. */
@media (max-width: 1000px) {
  html{
  font-size: 57%;
  }
} 

@media (max-width: 500px) {
html{
  font-size: 46%;
}

.Card-container{
  grid-template-columns: 1fr;
}

}

/* Hardcoded values */
/* 
@media (max-width: 1000px) {
  .review-card {
    padding: 20px 20px;
  }
  .review-heading {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .review-content {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .review-author {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .review-card {
    padding: 10px 10px;
  }
  .review-heading {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .review-content {
    font-size: 10px;
    margin-bottom: 5px;
  }
  .review-author {
    font-size: 12px;
  }
} */
